@model e_Mekteb.ViewModel.UcenikViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ucenik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImeiPrezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImeiPrezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NazivMjesta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NazivMjesta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostanskiBroj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostanskiBroj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRodenja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumRodenja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Starost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Starost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImeOca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImeOca)
        </dd>

    </dl>
</div>
<div>
    
    <a class="btn btn-primary" asp-action="Index"><<</a>
</div>
