@model IEnumerable<e_Mekteb.Models.Prisutnost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UcenikViewModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktivnost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPrisutan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UcenikViewModel.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktivnost.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPrisutan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrisutnostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrisutnostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrisutnostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
