@model e_Mekteb.Models.Biljeska

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Biljeska</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UcenikViewModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UcenikViewModel.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktivnost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktivnost.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biljeske)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biljeske)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BiljeskaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
