@model e_Mekteb.Models.Obavijest

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Obavijest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sadrzaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sadrzaj)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary"><<</a>
    <a asp-action="Edit" asp-route-id="@Model.ObavijestId" class="btn btn-primary">Uredi</a> 
</div>
