@model IEnumerable<e_Mekteb.Models.Aktivnost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkolskaGodina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VjerouciteljViewModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipAktivnosti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkolskaGodina.Godina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VjerouciteljViewModel.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipAktivnosti)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AktivnostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AktivnostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AktivnostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
