@model List<e_Mekteb.ViewModel.UcenikProfilFlag>
@{
    ViewData["Title"] = "All Users";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 text-center">
            <p>Školska godina: @ViewBag.Godina</p>

        </div>
        <div class="col-sm-6 text-center">
            <p">@ViewBag.Medzlis</p>
        </div>

    </div>
</div>



<div class="text-center">
    <!-- Left-aligned media object -->
    <div class="align-content-around">
        <div class="align-content-around">

            <img src="/images/muslim-students-running-school.jpg" class="media-object rounded" style="width:150px">
        </div>
        <div class="media-body">
            <h1 class="text-success">Moji Učenici</h1>
            <h1 class="text-success">@ViewBag.BrojUcenika</h1>
        </div>
    </div>
</div>
<br />
<br />

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Dodavanje novog učenika upute</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    Kreiranje učenika postiže se klikom na tipku ispod, "Dodaj novog učenika". Ime i prezime učenika treba unijeti točno ne koristeći pritom zamjenske znakove.
                    Unos email adrese treba biti u formatu "ime.prezime@gmail.com".<br />
                    <div class="row">
                        <div class="col-sm-4">
                            Adnan Čaušević <p class="text-success"> TOČNO</p>
                        </div>
                        <div class="col-sm-4 ml-auto">
                            Adnan Causevic<p class="text-danger"> NETOČNO</p>

                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Dodaj novog učenika</a>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Dodavanje novog učenika upute</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    Kreiranje postojećeg učenika postiže se klikom na tipku ispod, "Dodaj postojećeg učenika". Kako znati dali učenik postoji u bazi podataka? Uvijek je potrebno učenika kreirati kao novog
                    učenika i ukoliko se prikaže poruka da učenik s tim imenom i prezimenom već postoji, dodati ćete ga kao postojećeg učenika.<br />

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                <a class="btn btn-primary" asp-controller="Vjeroucitelj" asp-action="DodajPostojecegUcenika">Dodaj postojećeg učenika</a>

            </div>
        </div>
    </div>
</div>

@if (Model != null)
{



    <h5 class="card-title">
        <button type="button"  disabled class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Dodaj novog učenika
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
            Dodaj postojećeg učenika
        </button>
        <a type="button" class="btn btn-light btn-outline-success" asp-controller="Muftija" asp-action="Filtriranje">
            Filter <i class="fas fa-search"></i>

        </a>

    </h5>
    @foreach (var user in Model)
    {


        <div class="card mt-1 mb-5">

            <div class="card-header">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        @if (user.LokacijaNastave != null)
                        {
                            <p>@user.LokacijaNastave</p>
                        }

                        else
                        {
                            <p>Škola: Nije upisana.</p>

                        }


                    </div>
                    <div class="col-sm-4 text-center">
                        @if (user.Razred != null)
                        {
                            <p>@user.Razred</p>
                        }

                        else
                        {
                            <p>Razred nije upisan.</p>

                        }

                    </div>
                    <div class="col-sm-4 text-center">
                        @if (user.Datum == DateTime.MinValue)
                        {
                            <p>Nije upisan.</p>
                        }

                        else
                        {
                            <p>Datum upisa: @user.Datum.ToString("dd/MM/yyyy")</p>
                        }





                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @user.AplicationUser.ImeiPrezime

                </h5>
                <form asp-controller="Vjeroucitelj" asp-action="DeleteUser" asp-route-id="@user.AplicationUser.AplicationUserId" method="get">
                    <a class="btn btn-primary" asp-controller="Vjeroucitelj" asp-action="EditUser" asp-route-id="@user.AplicationUser.AplicationUserId">Uredi</a>
                    <button type="submit" class="btn btn-danger">Obriši</button>


                    @if (user.Flag == 0)
                    {



                        <a asp-controller="Vjeroucitelj" asp-action="EditiranjeUcenikovogProfila" asp-route-id="@user.AplicationUser.AplicationUserId" class="btn btn-danger"
                           data-bs-toggle="tooltip" title="Profil nije popunjen. Molimo da popunite profil u što kraćem roku pritiskom na tipku." style="float:right">
                            <span>
                                <i class="fas fa-user-edit"></i>



                            </span>
                        </a>

                    }









                    else
                    {
                        <a asp-controller="Vjeroucitelj" asp-action="EditiranjeUcenikovogProfila" asp-route-id="@user.AplicationUser.AplicationUserId"  class="btn btn-success"  disabled data-bs-toggle="tooltip" title="Profil je popunjen" style="float:right">
                            <i class="fas fa-user-check"></i>


                        </a>


                    }




                </form>

            </div>
        </div>

    }



}





else
{
    <div class="card">
        <div class="card-header">
            Nemate kreiranih učenika.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Koristi donju lijevu tipku kako bi kreirao novog učenika.
            </h5>
            <h5 class="card-title">
                <button type="button"  disabled class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Dodaj novog učenika
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
                    Dodaj postojećeg učenika
                </button>

            </h5>

        </div>
    </div>
}





<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>


<script>

</script>