@model e_Mekteb.ViewModel.VjerouciteljListaUcenika;
    <link rel="stylesheet" href="~/css/site.css"/>

@{
    ViewData["Title"] = "All Users";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 text-center">
            <p>Školska godina: @ViewBag.Godina</p>

        </div>
        <div class="col-sm-6 text-center">
            <p>@*MIZ @ViewBag.Medzlis*@</p>
        </div>

    </div>
</div>

<div class="text-center">
    <!-- Left-aligned media object -->
    <div class="align-content-around">
        <div class="align-content-around">

            <img src="/images/muslim-students-running-school.jpg" class="media-object rounded" style="width:150px">
        </div>
        <div class="media-body">
            <h1 class="text-success">Svi Učenici</h1>
            <h1 class="text-success"> @ViewBag.BrojUcenika</h1>

        </div>
    </div>
</div>
<br />
<br />



<a type="button" class="btn btn-light btn-outline-success" asp-controller="Muftija" asp-action="GetReligiousCommunities">
        Filter <i class="fas fa-search"></i>

    </a>

@if (Model != null)
{
    <div class="spinner" style="display:none">
        <div class="center-div">
            <div class="inner-div">
                <div class="loader"></div>
            </div>
        </div>
    </div>




    @foreach (var user in Model.Profili)
    {


        <div class="card mt-1 mb-5">

            <div class="card-header">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        @if (user.LokacijaNastave != null)
                        {
                            <p>@user.LokacijaNastave</p>
                        }

                        else
                        {
                            <p>Škola: Nije upisana.</p>
                        }


                    </div>
                    <div class="col-sm-4 text-center">
                        @if (user.Razred != null)
                        {
                            <p>@user.Razred</p>
                        }

                        else
                        {
                            <p>Razred nije upisan.</p>
                        }

                    </div>
                    <div class="col-sm-4 text-center">
                        @if (user.Datum == DateTime.MinValue)
                        {
                            <p>Nije upisan.</p>
                        }

                        else
                        {
                            <p>Datum upisa: @user.Datum.ToString("dd/MM/yyyy")</p>
                        }





                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @user.AplicationUser.ImeiPrezime

                </h5>
                <form asp-controller="Vjeroucitelj" asp-action="DeleteUser" asp-route-id="@user.AplicationUser.AplicationUserId" method="get">
                    <a class="btn btn-primary" asp-controller="Vjeroucitelj" asp-action="EditUser" asp-route-id="@user.AplicationUser.AplicationUserId">Uredi</a>
                    <button type="submit" class="btn btn-danger">Obriši</button>


                    @if (user.Flag == 0)
                    {



                        <a asp-controller="Vjeroucitelj" asp-action="EditiranjeUcenikovogProfila" asp-route-id="@user.AplicationUser.AplicationUserId" class="btn btn-danger"
               data-bs-toggle="tooltip" title="Profil nije popunjen. Molimo da popunite profil u što kraćem roku pritiskom na tipku." style="float:right">
                            <span>
                                <i class="fas fa-user-edit"></i>



                            </span>
                        </a>
                    }









                    else
                    {
                        <a asp-controller="Vjeroucitelj" asp-action="EditiranjeUcenikovogProfila" asp-route-id="@user.AplicationUser.AplicationUserId" class="btn btn-success" data-bs-toggle="tooltip" title="Profil je popunjen" style="float:right">
                            <i class="fas fa-user-check"></i>


                        </a>
                    }




                </form>

            </div>
        </div>
    }       }





else
{
    <div class="card">
        <div class="card-header">
            Nemate kreiranih učenika.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Koristi donju lijevu tipku kako bi kreirao novog učenika.
            </h5>
            <h5 class="card-title">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Dodaj novog učenika
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
                    Dodaj postojećeg učenika
                </button>

            </h5>

        </div>
    </div>
}





<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>


