@model IEnumerable<e_Mekteb.Models.Medzlis>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kontakt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlavniImam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailGlavnogImama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa.NazivMjesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kontakt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlavniImam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailGlavnogImama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedzlisId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedzlisId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedzlisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
