@model IEnumerable<e_Mekteb.Models.Razred>

@{
    ViewData["Title"] = "Index";
}

<h1>Razredi</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Novi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkolskaGodina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medzlis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AplicationUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkolskaGodina.Godina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medzlis.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AplicationUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @await Html.PartialAsync("TableButtonPartial", item.RazredId)

            </td>
        </tr>
}
    </tbody>
</table>
