@model e_Mekteb.Models.Skola

@{
    ViewData["Title"] = "Delete";
}

<h1>Brisanje</h1>

<h3>Dali ste sigurni da želite obrisati?</h3>
<div>
    <h4>Lokaciju</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazivSkole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazivSkole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostanskiBroj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostanskiBroj)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SkolaId" />
        <a asp-action="Index" class="btn btn-primary"><<</a>
        <input type="submit" value="Obriši" class="btn btn-danger" />
    </form>
</div>
