@model e_Mekteb.Models.ClanMualimskogVijeca

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Člana Mualimskog Vijeća</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medzlis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medzlis.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImeIPrezimeClanaVijeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeIPrezimeClanaVijeca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailClanaVijeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailClanaVijeca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KontaktClanaVijeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KontaktClanaVijeca)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary"><<</a>
    <a asp-action="Edit" asp-route-id="@Model.ClanMualimskogVijecaId" class="btn btn-primary">Uredi</a>
</div>
