@model IEnumerable<e_Mekteb.Models.ClanMualimskogVijeca>

@{
    ViewData["Title"] = "Index";
}

<h1>Članovi Mualimskog Vijeća</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Novog</a>
</p>
<table class="table table-responsive-sm">
    <thead class="table table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medzlis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImeIPrezimeClanaVijeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailClanaVijeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KontaktClanaVijeca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table table-bordered">
@foreach (var item in Model) {
        <tr class="table">
            <td style="width:20%">
                @Html.DisplayFor(modelItem => item.Medzlis.Naziv)
            </td>
            <td style="width:20%">
                @Html.DisplayFor(modelItem => item.ImeIPrezimeClanaVijeca)
            </td>
            <td style="width:20%">
                @Html.DisplayFor(modelItem => item.EmailClanaVijeca)
            </td>
            <td style="width:20%">
                @Html.DisplayFor(modelItem => item.KontaktClanaVijeca)
            </td>
            <td style="width:20%" align="right">
                @await Html.PartialAsync("TableButtonPartial", item.ClanMualimskogVijecaId)

            </td>
        </tr>
}
    </tbody>
</table>
